.signup-block {
  .radio-btn {
    height: auto;
    transform: scale(1.2);
  }
  .value-label {
    margin: 0 15px 0 5px;
  }
  .btn {
    width: 200px;
    display: block;
    margin: 20px auto 0;
  }
}