<div id="follow_form">
  <% if current_user.following?(@user) %>
    <button class="btn btn-light btn-lg" disabled>Requested</button> 
  <% else %>
    <%= form_with(model: current_user.active_relationships.build) do |f| %>
      <%= f.hidden_field :following_id, value: @user.id %>
      <%= f.submit "LIKE!", class: "btn btn-danger btn-lg", 
          data: { confirm: "You sure?" } %>
    <% end %>
  <% end %>  
</div>
