- provide(:title, "Sign up")
h1
  | Sign up
.row
  .col-md-6.col-md-offset-3
    = form_with(model: @user, url: signup_path, local: true) do |f|
      = render "shared/error_messages"
      .form-group
        = f.text_field :name, class: "form-control", placeholder: "user name"
      .form-group
        = f.radio_button :gender, :male
        = f.label :gender, "male", value: :male
        = f.radio_button :gender, :female
        = f.label :gender, "female", value: :female
      .form-group
        = f.text_field :age, class: "form-control", placeholder: "age"
      .form-group
        = f.label :prefecture_code, "Area"
        = f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name_e, include_blank: "-----"
      .form-group
        = f.label :nationality
        = f.collection_select :nationality, Country.all, :name, :name, include_blank: "-----"
      .form-group
        = f.email_field :email, class: "form-control", placeholder: "email"
      .form-group
        = f.password_field :password, class: "form-control", placeholder: "password"
      .form-group
        = f.password_field :password_confirmation, class: "form-control", placeholder: "password confirmation"
      = f.submit "Sign up", class: "btn btn-primary btn-lg"
