- provide(:title, @user.name)
= image_tag @user.avatar.variant(combine_options: { resize: "300^", crop: "300x300+0+0", gravity: :center }).processed
h1
  = @user.name
- if logged_in?
  - if current_user?(@user)
    = link_to "Edit profile", edit_user_path(@user), class: "btn btn-info btn-lg"
  - else
    = render 'follow_form'
p
  | Gender 
  = @user.gender
p
  | Age 
  = @user.age
p
  | Address 
  = @user.prefecture_name
p
  | Nationality 
  = @user.nationality
p
  | BIO 
  = @user.bio
p
  | Hobby 
  - @user.hobby
p
  | Job 
  = @user.job
p
  | Status 
  = @user.status
