.modal-header {
  .modal-title {
    margin: 0 auto;
  }
  .close {
    font-size: 2rem;
    padding-top: 5px;
    margin-left: 0;
  }
}
.modal-body {
  padding: 20px;
  label {
    font-weight: bold;
  }
  .value-label {
    font-weight: normal;
    margin: 0 15px 0 5px;
  }
  .age-range {
    display: flex;
    .age-gteq,
    .age-lteq {
      width: 30%;
    }
    span {
      font-size: 1.8rem;
      display: block;
      margin: 0 10px;
    }
  }
  .btn {
    width: 200px;
    display: block;
    margin: 30px auto 0;
  }
}
