* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  padding-top: 64px;
}

.base-container {
  // width: 60%;
  // padding: 0 20px;
  // margin-bottom: 50px;
}

.page-title {
  text-align: center;
  margin: 20px 0;
}

.text-form {
  height: 30px;
  font-size: 100%;
}

select {
  width: 100%;
  height: 30px;
  background-color: white;
  border-color: #ced4d9;
}

.textarea-form {
  resize: none;
  font-size: 1.6rem;
}

.n-circle {
  color: red;
  position: absolute;
}

#error_explanation {
  color: red;
}

.field_with_errors input,
.field_with_errors select{
  border-color: red;
}

.debug_dump {
  background-color: #eaeaea;
  border: 1px solid #e3e3e3;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}
