@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "setting/variables";
@import "setting/base";
@import "modules/header";
@import "modules/card";
@import "modules/avatar";
@import "modules/btn";
@import "modules/modal";
@import "modules/pagination";
@import "pages/users/index";
@import "pages/users/new";
@import "pages/users/show";
@import "pages/users/edit";
@import "pages/users/account";
@import "pages/users/show_follow";
@import "pages/users/show_match";
@import "pages/sessions/new";
@import "pages/rooms/show";
@import "pages/rooms/footer";
@import "pages/messages/message";
@import "pages/password_resets/new";
@import "pages/password_resets/edit";

@media (min-width: 1024px) {
  .navbar {
    .dropdown-menu {
      left: 0;
    }
  }
  .top-pagination {
    display: block;
  }
  .follower-card {
    width: 60%;
  }
  .matcher-card {
    width: 60%;
  }
  #message-container {
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
  margin: 0 auto;
  }
}

// ユーザー編集ページ
#avatar_prev {
  // with: 200px;
  // height: 200px;
  // border-radius: 50%;
  padding: 5px;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

#user_avatar {
  display: none;
}
