@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


// mixins, variables, etc


// universal
html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  margin-top: 67px;
}

* {
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}


// header
.navbar {
  border-bottom: 1px solid #e3e3e3;
  z-index: 100;
  background-color: white;
}

header li {
  display: inline-block;
  list-style-type: none;
}


// debug
.debug_dump {
  background-color: #eaeaea;
  border: 1px solid #e3e3e3;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

// forms
#error_explanation {
  color: red;
}

.field_with_errors .form-control{
  border-color: red;
}

// ユーザー編集ページ
#avatar_prev {
  with: 200px;
  height: 200px;
}

// メッセージ一覧
#message-container {
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem 1rem 8rem 1rem;
}

// メッセージ投稿フォーム
footer {
  max-width: 768px;
  padding: 1rem;
  margin: 0 auto;
  background-color: white;
}

// ボタン無効化時のスタイル
.btn-primary.disabled {
  background-color: #6c757d;
  border-color: #6c757d;
  cursor: auto;
}

// ユーザーがフォームサイズを自由に変更できる機能を停止させておく
#message_content {
  resize: none;
}