@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


// mixins, variables, etc


// universal
html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

* {
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}


// header
.navbar {
  border-bottom: 1px solid #e3e3e3;
}

header li {
  display: inline-block;
  list-style-type: none;
}


// debug
.debug_dump {
  background-color: #eaeaea;
  border: 1px solid #e3e3e3;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

// forms
#error_explanation {
  color: red;
}

.field_with_errors .form-control{
  border-color: red;
}