.message {
  font-size: 1.6rem;
  text-align: left;
  display: flex;
  padding-bottom: 32px;
  .name-and-text {
    max-width: 70%;
    .text {
      border-radius: 8px;
      padding: 16px 24px;
      position: relative;
      word-wrap: break-word;
      p {
        margin: 0;
      }
    }
  }
}
.message-left {
  .name {
    font-size: 1rem;
    color: white;
  }
  .text {
    background-color: white;
  }
  .text::before {
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
    position: absolute;
    top: 12px;
    left: -16px;
    border-right-color: white;
  }
  .send-at {
    color: white;
    font-size: 1rem;
    align-self: flex-end;
    margin-left: 5px;
  }
}

.message-right {
  flex-direction: row-reverse;
  .name {
    display: none;
  }
  .text {
    background-color: lightgreen;
  }
  .text::before {
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
    position: absolute;
    top: 12px;
    right: -16px;
    border-left-color: lightgreen;
  }
  .send-at {
    color: white;
    font-size: 1rem;
    align-self: flex-end;
    margin-right: 5px;
  }
}
